.header-container {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}
.header-container > li {
  font-size: 20px;
  list-style-type: none;
}
.header-container > li:hover {
  cursor: pointer;
}
